@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    font-family: Iansui094-Regular;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    width: auto;
    /* color: rgb(64, 61, 61); */
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

@media(max-width:767px) {
    .container {
        width: 100%;
    }
}

.row {
    /* // margin: auto; */
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}

/* // 圖形 */

.img-fluid {
    width: 100%;
}

// .img-fluid-b {
//     width: 100%;
//     height: 100%;
// }

.img-rounded {
    border-radius: 8px;
}

/* // 文字 */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* header start */
// header animation

@keyframes t3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.t3 {
    animation: t3 7s infinite alternate;
}

// header A
.tittle-logo {
    width: auto;
}

header {
    background-color: white;
    display: block;
    height: auto;
    max-width: auto;
}

header>.container nav>ul>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 0em;
    position: relative;
    transform: translateY(0px);
    transition: 0.3s;
}

header>.container nav>ul>li>a::after {
    content: " ";
    position: absolute;
    left: 50%;
    right: 50%;
    height: 0;
    bottom: -5px;
    border-bottom: 1px solid rgb(185, 58, 33);
    transition: .3s;
}

header>.container nav>ul>li>a:hover::after {
    left: 0;
    right: 0;
}

.navbar {
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 5px;
}

.navbar>a {
    padding-left: 0px;
}

* .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar>.hamburger {
    padding-right: 20px;
}

/* .nav-branding{
  font-size: 2em;
} */

/* .nav-link{
 transition: 0.7s ease;
}

.nav-link:hover{
color: darkgreen;
} */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border-radius: 100px;
}

/* header>.container>nav li {
  display: flex;
}

header>.container>.row {
  justify-content: space-between;
} */

// header>.container nav>ul>li {
//   margin-right: 20px;
//   text-align: center;
//   line-height: 30px;
// }

// header>.container nav>ul>li:last-child {
//   margin-right: 0px;
// } *

/* 手機裝置 */

@media (max-width:767px) {

    // header
    header {
        z-index: 1;
        position: relative;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: relative;
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 85px;
        gap: 0;
        flex-direction: column;
        background-color: #f0f0f0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        position: absolute;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* ////////////bread A-1 /////////// */
// 麵包屑
.bread-crumb {
    width: auto;
    height: auto;
    background-color: #f0f0f0;
}

.bread-crumb h5 {
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.bread-crumb a {
    color: rgb(74, 133, 94);
}

/* ////////////news  0-1 ///////// */

.news {
    background-color: black;
    width: auto;
    height: 800px;
}

.news h2 {
    display: block;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* ////// slide /////*/

.parent {
    /* 可視範圍寬 */
    /* width: 500px; */
    width: 100%;
    /* max-width: 1140px; */
    // margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.child {
    /* 圖片寬度*項目個數 */
    /* width: 2000px; */
    /* 去除行內空白，文字大小0 */
    font-size: 0;
}

h1 {
    font-size: 40px;
}

.parent img {
    /* 同.parent寬 */
    width: 500px;
}

/* div時用float */
/* .son{
    float: left;
} */
.left-arrow,
.right-arrow {
    position: absolute;
    cursor: pointer;
    background-color: rgba(98, 85, 85, 0.482);
    width: 40px;
    height: 40px;
    top: 0px;
    border: 2px solid rgb(255, 255, 255);
    /* 設定較小塊的感應區 */
    /* height: 40px; */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-arrow {
    right: 52px;
    bottom: 40px;
}

.right-arrow {
    right: 10px;
    bottom: 10px;
}

.indicator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator>li {
    width: 10px;
    height: 10px;
    background-color: #F0F0F0;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.indicator>li:last-child {
    margin-right: 0;
}

.indicator>li.active {
    background-color: rgb(74, 133, 94);
}

@media (max-width:767px) {
    .container {
        margin: auto;
        width: 90%;
        max-width: 1140px;
    }

    .left-arrow,
    .right-arrow {
        width: 20px;
        height: 20px;
    }

    .left-arrow {
        right: 32px;
        bottom: 40px;
    }
}

/* ////// simple-menu  0-2 /////*/

.simple-menu {
    background-color: #F0F0F0;
    height: 600px;
    display: flex;
    width: auto;
}

.simple-menu h2 {
    display: block;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.simple-menu a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(74, 133, 94);
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: normal;
}

.simple-menu a:hover {
    background-color: black;
    transition: background-color .3s 0s;
}

.simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.btn-container-extra {
    margin-top: 20px;
    /* // width: 90%; */
    // max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .simple-menu {
        background-color: #F0F0F0;
        /* background-image: url(public/images/gray-01.png); */
        width: auto;
        height: auto;
    }

    .simple-menu h3 {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: normal;
    }

    .btn-container-extra {
        margin-top: 5px;
        margin-bottom: 25px;
    }
}

/* ////////////footer B /////// */

footer {
    height: auto;
    width: auto;
}

.footer-info {
    padding-left: 100px;
}

footer a {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer>.container>.row {
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
}

.social>a {
    padding-right: 20px;
}

.social>a:last-child {
    padding-right: 0;
}

.container-extra {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h6 {
    display: block;
    margin: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-weight: lighter;
    color: lightgray;
}

.container-f {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

// footer>.container>.row>.row{
//     font-size: 10px;
// }

// footer>.container>.row h6{
//     font-size: 2px;
// }

// .info-row {
//     /* // margin: auto; */
//     display: flex;
//     flex-wrap: wrap;
//     /*換行*/
//     font-size: 0.5em;
// }

footer>.container>.row>.row {
    justify-content: center;
}

@media(max-width:767px) {

    footer .text-center {
        text-align: center;
    }

    // .info-row{
    //     padding: 20px;
    // }
}

// common-intro 1
.common-intro {
    background-color: #f0f0f0;
    width: auto;
    display: flex;
}

.max-w350 {
    max-width: 350px;
}

// 手機
@media (max-width:768px) {
    .common-intro {
        height: auto;
    }


    .common-intro p {
        line-height: 2;
        margin-bottom: 30px;
    }
}

// PC
@media (min-width:768px) {
    .common-intro {
        height: 500px;
    }

    .common-intro p {
        line-height: 2;
    }
}

// common-news 2
.common-news {
    background-color: #f0f0f0;
    width: auto;
    display: flex;
}

.common-news>.container>.row {
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.common-news h1 {
    font-weight: normal;
    text-shadow: 2px 2px 3px rgb(203, 200, 200);
    line-height: 1.5em;
}

// .common-news>.container>.row:last-child {
//     margin-bottom: 0;
// }

.common-news a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
    padding-top: 10px;
    // padding-left: 10px;
}

.common-news a:hover {
    text-decoration: none;
    color: rgb(185, 58, 33);
}

.common-news a:active {
    color: rgb(74, 133, 94);
}

.common-news h5 {
    color: rgb(109, 107, 107);
    font-weight: normal;
}

.common-news .row {
    box-sizing: border-box;
    border-bottom: 2px dotted rgb(74, 133, 94);
}

// 手機
@media (max-width:767px) {
    .common-news .row:last-child {
        box-sizing: border-box;
        border-bottom: 0;
    }

    .common-news {
        height: auto;
    }

    .common-news h1 {
        line-height: 1.5em;
        font-size: 20px;
    }

    .common-news a {
        display: block;
        font-size: 1em;
        padding-top: 0;
    }

    .text-left {
        text-align: left;
    }


    .common-news .row {
        padding-bottom: 50px;
    }

    .common-news>.container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .common-news>.container>.row {
        margin-top: 0;
        margin-bottom: 0;
    }

    .common-news>.container>.row {
        padding-bottom: 0;
    }
}

// PC
@media (min-width:768px) {

    .common-news>.container {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .common-news>.container>.row {
        margin-bottom: 50px;
    }

    // .common-news {
    //     height: 900px;
    // }

    // .common-news a {
    //     padding-top: 20px;
    // }

    .common-news h5 {
        padding-left: 5px;
    }
}

/* ////////////.common-lte 4 ///////////// */
.common-lte {
    background-color: #f0f0f0;
    width: auto;
    display: flex;
}

.common-lte>.container>.row {
    align-items: center;
}

.max-w500 {
    max-width: 500px;
}

.common-lte h1 {
    display: block;
    line-height: 1.5em;
    font-size: 20px;
    margin-bottom: 20px;
}

.pro-text>p {
    margin-bottom: 25px;
}

.pro-text>ul>li {
    margin-bottom: 25px;
}

.pro-text>ul {
    margin-left: 4.8em;
}

.common-lte .row {
    // padding-bottom: 50px;
    box-sizing: border-box;
    border-bottom: 2px dotted rgb(74, 133, 94);
}

// PC
@media (min-width:768px) {
    // .common-intro {
    //     height: 2000px;
    // }

    .common-lte>.container {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .common-lte>.container>.row {
        margin-bottom: 50px;
    }

    // .common-lte>.container>.row:last-child {
    //     margin-bottom: 20px;
    // }

    .common-lte .row {
        padding-bottom: 50px;
    }

    .img-sma {
        display: none;
    }

}

@media (max-width:767px) {
    // .common-lte .row {
    //     padding-bottom: 0x;
    // }

    // .pro-text>ul>li{
    //     line-height: 1;
    // }

    // .common-lte {
    //     text-align: center;
    // }

    // .common-lte h1 {
    //     display: block;
    //     text-align: center;
    // }

    // .pro-text {
    //     display: inline-block;
    //     align-items: center;
    // }

    .pro-text {
        font-size: 12px;
    }

    .common-lte h1 {
        margin-bottom: 5px;
        font-size: 15px;
    }

    .pro-text>p {
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .pro-text>ul>li {
        margin-bottom: 10px;
        line-height: 1.3;
    }

    .pro-text>ul {
        margin-left: 5em;
    }

    .img-big {
        display: none;
    }

    .img-sma {
        transform: translateY(-2%);
    }

    .common-lte img {
        margin-bottom: 8px;
    }

    .common-lte .row:last-child {
        border-bottom: 0;
    }
}

/* ////////////faq 5 ///////// */

.common-faq {
    background-color: #f0f0f0;
    width: auto;
    display: flex;
    box-sizing: border-box;
}

.question-content {
    border: 1px solid gray;
    border-radius: 30px;
    margin-bottom: 25px;
    line-height: 30px;
    padding: 20px 50px 20px 30px;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
    letter-spacing: 2px;
}

.question-content.active {
    display: block;
    background-color: rgb(185, 58, 33);
    color: white;
}

.question-content.active .answer {
    display: block;
    padding-top: 10px;
}

.question-content.active .icon-arrow {
    transform: rotate(180deg);
}

.answer {
    display: none;
}

.question {
    position: relative;
    text-shadow: 2px 2px 3px rgb(203, 200, 200);
}

.question>.icon-arrow {
    text-shadow: none;
}

.icon-arrow {
    transition: transform .3s;
    position: absolute;
    width: 30px;
    line-height: 40px;
    text-align: center;
    /* background-color: pink; */
    right: -35px;
    top: -5px;
}

// pc
@media (min-width: 768px) {
    .common-faq>.container {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

// phone
@media (max-width: 768px) {
    .common-faq {
        height: auto;
    }

    .common-faq>.container {
        margin: 30px 10px 30px 10px;
    }
}

/* ////////////MENU 3 ///////// */

.common-menu {
    background-color: #f0f0f0;
    width: auto;
    display: flex;
}

.common-menu aside>ul {
    // width: 20%;
    text-align: center;
    // margin-top: 30px;
}

.common-menu ul>li {
    display: block;
    box-sizing: border-box;
    // border: 1px solid black;
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    background-color: rgb(185, 58, 33);
    font-size: 1.2em;
    border-radius: 30px;
}

.common-menu ul>li>a {
    color: white;
    letter-spacing: 3px;
}

.common-menu>.container>.row {
    margin-top: 30px;
}

.common-menu main img {
    margin-bottom: 10px;
}

.common-menu h3 {
    font-weight: normal;
}

.img-overlay {
    overflow: hidden;
    border-radius: 8px;
}

/* ////////////迴圈///////////// */

@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 0px 15px;
    }
}

@for $i from 1 through 12 {
    .col-ex-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 5px 15px -5px 15px;
    }
}

@media (max-width:767px) {

    // col and .simple-menu
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }

    @for $i from 1 through 12 {
        .col-smMu-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 30px 15px;
        }
    }

    @for $i from 1 through 5 {
        .mb-#{$i} {
            margin-bottom: $i*10px;
        }
    }

    @for $i from 1 through 5 {
        .mt-#{$i} {
            margin-top: $i*10px;
        }
    }
}

@media (min-width:768px) {

    // col and .simple-menu
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }

    @for $i from 1 through 12 {
        .col-me-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
}

@media (min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
}

.common-cot {
    background-color: #f0f0f0;
    width: auto;
}

.common-cot>.container>.greet {
    padding-top: 40px;
}


.greet>p {
    text-align: center;
    padding-bottom: 20px;
}

.oneline {
    display: block;
    width: 450px;
    height: 2px;
    margin: 35px auto;
    background-color:rgb(74, 133, 94); 
}