@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    font-family: Iansui094-Regular;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    width: auto;
    /* color: rgb(64, 61, 61); */
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

.row {
    /* // margin: auto; */
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.flex-space-between {
    justify-content: space-between;
}

/* // 圖形 */

.img-fluid {
    width: 100%;
}

// .img-fluid-b {
//     width: 100%;
//     height: 100%;
// }

.img-rounded {
    border-radius: 8px;
}

/* // 文字 */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* header start */
// header animation

@keyframes t3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.t3 {
    animation: t3 7s infinite alternate;
}

// header
.tittle-logo {
    width: auto;
}

header {
    background-color: white;
    display: block;
    height: auto;
    max-width: auto;
}

/* header>.container>nav li {
  display: flex;
}

header>.container>.row {
  justify-content: space-between;
} */

// header>.container nav>ul>li {
//   margin-right: 20px;
//   text-align: center;
//   line-height: 30px;
// }

// header>.container nav>ul>li:last-child {
//   margin-right: 0px;
// } *

header>.container nav>ul>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 0em;
    position: relative;
    transform: translateY(0px);
    transition: 0.3s;
}

header>.container nav>ul>li>a::after {
    content: " ";
    position: absolute;
    left: 50%;
    right: 50%;
    height: 0;
    bottom: -5px;
    border-bottom: 1px solid rgb(185, 58, 33);
    transition: .3s;
}

header>.container nav>ul>li>a:hover::after {
    left: 0;
    right: 0;
}

.navbar {
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 5px;
}

.navbar>a {
  padding-left:0px;
} *

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.navbar>.hamburger{
    padding-right:20px;
}

/* .nav-branding{
  font-size: 2em;
} */

/* .nav-link{
 transition: 0.7s ease;
}

.nav-link:hover{
color: darkgreen;
} */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
    border-radius: 100px;
}

/* 手機裝置 */

@media (max-width:767px) {
    // header
    header {
        z-index: 1;
        position: relative;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        position: relative;
    }

    .nav-menu {
        position: fixed;
        left: -120%;
        top: 85px;
        gap: 0;
        flex-direction: column;
        background-color: #f0f0f0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        position: absolute;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

// 麵包屑
.bread-crumb{
    width: auto;
    height: auto;
    background-color: #f0f0f0;
}

.bread-crumb h5{
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

/* ////////////news///////////// */

.news {
    background-color: black;
    width: auto;
    height: 500px;
}

div.news h2 {
    display: block;
    color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

/* ////////////simple-menu///////////// */

.simple-menu {
    height: 500px;
    display: flex;
    width: auto;
}

.simple-menu h2 {
    display: block;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.simple-menu a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(74, 133, 94);
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: normal;
}

.simple-menu a:hover {
    background-color: black;
    transition: background-color .3s 0s;
}

.simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

/* ////////////footer///////////// */

footer {
    height: auto;
    width: auto;
}

.footer-info {
    padding-left: 100px;
}

footer a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-extra {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container-extra {
    margin-top: 20px;
    /* // width: 90%; */
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-f {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

h6 {
    display: block;
    margin: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-weight: lighter;
    color: lightgray;
}

/* ////////////迴圈///////////// */

@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 0px 15px;
    }
}

@for $i from 1 through 12 {
    .col-s-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 20px 15px 20px 15px;
    }
}

@media (min-width:768px) {
    // col and .simple-menu
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }

    .simple-menu {
        background-color: #F0F0F0;
        /* background-image: url(public/images/gray-01.png); */
        width: auto;
        height: 700px;
    }
}

@media (min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
}

// 1200px end
// phone
@media(max-width:767px) {
    .container {
        margin: auto;
        width: 100%;
        max-width: 1140px;
    }

    .simple-menu {
        background-color: #F0F0F0;
        /* background-image: url(public/images/gray-01.png); */
        width: auto;
        height: auto;
    }

    .intro {
        background-color: #F0F0F0;
        /* background-image: url(public/images/gray-01.png); */
        width: auto;
        height: auto;
    }

    footer .text-center {
        text-align: center;
    }

    .simple-menu h3 {
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: normal;
    }

    .btn-container-extra {
        margin-top: 5px;
        margin-bottom: 25px;
        // width: 90%;
        max-width: 1140px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .mb-2 {
        margin-bottom: 20px;
    }

    .mb-4 {
        margin-bottom: 40px;
    }

    .mt-3 {
        margin-top: 30px;
    }

    .banner {
        background-size: cover;
    }

    .intro p{
        margin-bottom: 30px;
    }
}

// intro
@media (min-width:768px) {
.intro {
    background-color: #f0f0f0;
    width: auto;
    height: 500px;
    display: flex;
}
}

.intro p{
    line-height: 2;
}