* {
    margin: 0;
    padding: 0;
    font-family: Iansui094-Regular;
    list-style: none;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

.main-header .container {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.flex-space-between {
    justify-content: space-between;
}

.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h6 {
    display: block;
    margin: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-weight: lighter;
    color: gray;
}

.container-footer {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-nav {
    margin: auto;
}

.main-header .main-nav a {
    text-decoration: none;
    color: rgb(255, 24, 24);
    padding: 5px 1em;
}

.main-header .main-nav a {
    text-decoration: none;
    color: rgb(198, 137, 137);
    padding: 5px 1em;
    position: relative;
}

.main-header .main-nav a::after {
    content: " ";
    position: absolute;
    left: 50%;
    right: 50%; 
    height: 0;    
    bottom: -5px;  
    border-bottom: 1px solid rgb(112, 0, 0);
    transition:.3s; 
  }
  
  
  .main-header .main-nav a:hover::after {
    left: 0;
    right: 0;
  }  

/* //////////////////////////////// */

.tittle-logo {
    width: 100px;
}

// .main-header .logo img {
//     width: 100%;
//     vertical-align: middle;
//   }

// header {
//     background-color: white;
//     display: block;
// }

// // header div>a {
// //     margin-right: 60px;
// // }

// header>.container nav {
//     margin-left: 50px;
// }

// header>.container nav>ul {
//     display: flex;
//     margin-top: 13px;
//     margin-left: 200px;
// }

// header>.container nav>ul>li {
//     margin-right: 30px;
//     text-align: center;
//     line-height: 30px;
// }

// header>.container nav>ul>li>a {
//     line-height: 60px;
//     color: rgb(0, 0, 0);
//     font-size: 1em;
//     letter-spacing: 2px;
// }

// /* /////////////////////////////// */

// .news {
//     background-color: rgb(35, 24, 21);
//     width: auto;
//     height: 500px;
// }

// div.news h2 {
//     display: block;
//     color: white;
//     padding-top: 40px;
//     padding-bottom: 40px;
//     letter-spacing: 2px;
//     font-weight: normal;
// }

// .simple-menu {
//     height: 500px;
//     display: flex;
//     width: auto;
// }

// div.simple-menu>.container>h2 {
//     display: block;
//     color: rgb(0, 0, 0);
//     padding-top: 0px;
//     padding-bottom: 50px;
//     letter-spacing: 2px;
//     font-weight: normal;
// }

// @for $i from 1 through 12 {
//     .col-#{$i} {
//         --num: calc(12 / #{$i});
//         width: calc(100% / var(--num) - 30px);
//         margin: 0px 15px 40px 15px;
//     }
// }

// footer {
//     height: 200px;
//     width: auto;
// }

// .footer-info {
//     padding-left: 100px;
// }

// footer a {
//     margin-top: 20px;
//     margin-bottom: 20px;
// }

// .simple-menu h3>a {
//     display: block;
//     color: rgb(255, 255, 255);
//     text-decoration: none;
//     box-sizing: border-box;
//     background-color: rgb(0, 0, 0);
//     width: 80px;
//     height: 40px;
//     text-align: center;
//     line-height: 40px;
//     border-radius: 30px;
//     font-size: 15px;
//     font-weight: normal;
// }

// header nav>ul>li>a {
//     text-decoration: none;
//     color: #fff;
//     padding: 5px 1em;
//     position: relative;
// }

// header nav>ul>li>a::after {
//     content: " ";
//     position: absolute;
//     left: 50%;
//     right: 50%;
//     height: 0;
//     bottom: -5px;
//     border-bottom: 1px solid #fff;
//     transition: .3s;
// }


// header nav>ul>li>a:hover::after {
//     left: 0;
//     right: 0;
// }

// header nav>ul>li>a {
//     text-decoration: none;
//     color: #fff;
//     padding: 5px 1em;
//     position: relative;
//     transform: translateY(0px);
//     transition: 0.3s;
// }