* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.flex-space-between {
    justify-content: space-between;
}

.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}


/* //////////////////////////////// */

.tittle-logo {
    width: auto;
}

header {
    background-color: white;
    display: block;
}

header div>a {
    margin-right: 60px;
}

header>.container nav {
    margin-left: 50px;
}


header>.container nav>ul {
    display: flex;
    margin-top: 15px;
    margin-left: 200px;
}

header>.container nav>ul>li {
    margin-right: 30px;
    text-align: center;
    line-height: 30px;
}

header>.container nav>ul>li>a {
    line-height: 60px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    letter-spacing: 2px;
}

/* /////////////////////////////// */

.news {
    background-color: rgb(35, 24, 21);
    width: auto;
    height: 500px;
}

div.news h2 {
    display: block;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.simple-menu>.container>h2 {
    display: block;
    color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

footer{
    padding: 100px 0 40px 0;
}