// 整體元素
* {
    margin: 0;
    padding: 0;
    font-family: Iansui094-Regular;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    width: auto;
}

body {
    margin: 0;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
}

.row {
    // margin: auto;
    display: flex;
    flex-wrap: wrap;
    /*換行*/
}

.flex-space-between {
    justify-content: space-between;
}

// 圖形

.img-fluid {
    width: 100%;
}

.img-rounded {
    border-radius: 8px;
}

// 文字
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* ////////////header///////////// */

.tittle-logo {
    width: auto;
}

header {
    background-color: white;
    display: block;
    height: 85px;
    max-width: auto;
}

header>.container>nav li {
    display: flex;
}

header>.container>.row {
    justify-content: space-between;
}

header>.container nav>ul>li {
    margin-right: 20px;
    text-align: center;
    line-height: 30px;
}

header>.container nav>ul>li:last-child {
    margin-right: 0px;
}

// header>.container nav>ul>li>a {
//     line-height: 60px;
//     color: rgb(0, 0, 0);
//     font-size: 1em;
//     letter-spacing: 2px;
//     padding: 10px;
// }

// header>.container nav>ul>li>a:hover{
//     box-sizing: border-box;
//     border-bottom:2px solid rgb(35, 24, 21);
//     color:rgb(185, 58, 33) ;
// }

header>.container nav>ul>li>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 0em;
    position: relative;
    transform: translateY(0px);
    transition: 0.3s;
}

header>.container nav>ul>li>a::after {
    content: " ";
    position: absolute;
    left: 50%;
    right: 50%;
    height: 0;
    bottom: -5px;
    border-bottom: 1px solid rgb(185, 58, 33);
    transition: .3s;
}

header>.container nav>ul>li>a:hover::after {
    left: 0;
    right: 0;
}

/* ////////////news///////////// */

.news {
    background-color: rgb(35, 24, 21);
    width: auto;
    height: 500px;
}

div.news h2 {
    display: block;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    letter-spacing: 2px;
    font-weight: normal;
}

/* ////////////simple-menu///////////// */

.simple-menu {
    height: 500px;
    display: flex;
    width: auto;
}

.simple-menu h2 {
    display: block;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.simple-menu a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    box-sizing: border-box;
    background-color: rgb(185, 58, 33);
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: normal;
}

.simple-menu a:hover {
    background-color: black;
    transition: background-color .3s 0s;
}

.simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

.mt {
    margin-top: 20px;
}

/* ////////////footer///////////// */
footer {
    height: 200px;
    width: auto;
}

.footer-info {
    padding-left: 100px;
}

footer a {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-extra {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-f {
    margin: auto;
    width: 90%;
    max-width: 1140px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

h6 {
    display: block;
    margin: 20px;
    text-align: center;
    letter-spacing: 0em;
    font-weight: lighter;
    color: gray;
}




/* ////////////迴圈///////////// */
@for $i from 1 through 12 {
    .col-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@for $i from 1 through 12 {
    .col-md-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@for $i from 1 through 12 {
    .col-s-#{$i} {
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 20px 15px 20px 15px;
    }
}

// @for $i from 1 through 5 {
//     .mb-#{$i} {
//         margin-bottom: $i * 1em;
//     }
// }

.mb {
    margin-top: 1em;
}

@media (min-width: 768px) {
    nav>ul {
        display: flex;
    }

    nav>ul>li {
        margin-right: 40px;
        position: relative;
        line-height: 40px;
    }

    header>.container>.row {
        align-items: center;
    }

    .col-md-3 {
        --num: calc(12 / 3);
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 0px 15px
    }

    .col-s-12 {
        --num: calc(12 / 12);
        width: calc(100% / var(--num) - 30px);
        margin: 20px 15px 20px 15px;
    }
}

@media (max-width: 767px) {
    .col-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 20px 15px;
        }
        
    footer .text-center {
    text-align: center;
    }

}