@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Iansui094-Regular;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  width: auto;
  /* color: rgb(64, 61, 61); */
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

.row {
  /* // margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.flex-space-between {
  justify-content: space-between;
}

/* // 圖形 */
.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

/* // 文字 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* header start */
@keyframes t3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.t3 {
  animation: t3 7s infinite alternate;
}

.tittle-logo {
  width: auto;
}

header {
  background-color: white;
  display: block;
  height: 85px;
  max-width: auto;
}

/* header>.container>nav li {
  display: flex;
}

header>.container>.row {
  justify-content: space-between;
} */
header > .container nav > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 5px 0em;
  position: relative;
  transform: translateY(0px);
  transition: 0.3s;
}

header > .container nav > ul > li > a::after {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 0;
  bottom: -5px;
  border-bottom: 1px solid #b93a21;
  transition: 0.3s;
}

header > .container nav > ul > li > a:hover::after {
  left: 0;
  right: 0;
}

.navbar {
  /* height: 70px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* .nav-branding{
  font-size: 2em;
} */
/* .nav-link{
 transition: 0.7s ease;
}

.nav-link:hover{
color: darkgreen;
} */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 100px;
}

/* 手機裝置 */
@media (max-width: 767px) {
  header {
    z-index: 1;
    position: relative;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: relative;
  }

  .nav-menu {
    position: fixed;
    left: -120%;
    top: 85px;
    gap: 0;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    position: absolute;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* ////////////news///////////// */
.news {
  background-color: black;
  width: auto;
  height: 500px;
}

div.news h2 {
  display: block;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* ////////////simple-menu///////////// */
.simple-menu {
  height: 500px;
  display: flex;
  width: auto;
}

.simple-menu h2 {
  display: block;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.simple-menu a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #4a855e;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
}

.simple-menu a:hover {
  background-color: black;
  transition: background-color 0.3s 0s;
}

.simple-menu h3 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

/* ////////////footer///////////// */
footer {
  height: 200px;
  width: auto;
}

.footer-info {
  padding-left: 100px;
}

footer a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-extra {
  margin: auto;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container-extra {
  margin-top: 20px;
  /* // width: 90%; */
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-f {
  margin: auto;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

h6 {
  display: block;
  margin: 20px;
  text-align: center;
  letter-spacing: 0em;
  font-weight: lighter;
  color: lightgray;
}

/* ////////////迴圈///////////// */
.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-s-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-s-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .simple-menu {
    background-color: #F0F0F0;
    /* background-image: url(public/images/gray-01.png); */
    width: auto;
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (max-width: 767px) {
  .container {
    margin: auto;
    max-width: 1140px;
  }

  .simple-menu {
    background-color: #F0F0F0;
    /* background-image: url(public/images/gray-01.png); */
    width: auto;
    height: auto;
  }

  .intro {
    background-color: #F0F0F0;
    /* background-image: url(public/images/gray-01.png); */
    width: auto;
    height: 870px;
  }

  footer .text-center {
    text-align: center;
  }

  .simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .btn-container-extra {
    margin-top: 5px;
    margin-bottom: 25px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb-2 {
    margin-bottom: 10px;
  }

  .mb-4 {
    margin-bottom: 40px;
  }

  .mt-3 {
    margin-top: 30px;
  }

  .banner {
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .intro {
    background-color: #f0f0f0;
    width: auto;
    height: 500px;
    display: flex;
  }
}
.intro p {
  line-height: 2;
}