@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Iansui094-Regular;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  width: auto;
  /* color: rgb(64, 61, 61); */
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.row {
  /* // margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.wrap {
  flex-wrap: wrap;
}

.flex-space-between {
  justify-content: space-between;
}

/* // 圖形 */
.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

/* // 文字 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* header start */
@keyframes t3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.t3 {
  animation: t3 7s infinite alternate;
}

.tittle-logo {
  width: auto;
}

header {
  background-color: white;
  display: block;
  height: auto;
  max-width: auto;
}

header > .container nav > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 5px 0em;
  position: relative;
  transform: translateY(0px);
  transition: 0.3s;
  font-size: 0.879rem;
  cursor: pointer;
}

header > .container nav > ul > li > a::after {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 0;
  bottom: -5px;
  border-bottom: 1px solid #b93a21;
  transition: 0.3s;
}

header > .container nav > ul > li > a:hover::after {
  left: 0;
  right: 0;
}

.navbar {
  /* height: 70px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > a {
  padding-left: 0px;
}

* .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar > .hamburger {
  padding-right: 20px;
}

/* .nav-branding{
  font-size: 2em;
} */
/* .nav-link{
 transition: 0.7s ease;
}

.nav-link:hover{
color: darkgreen;
} */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 100px;
}

/* header>.container>nav li {
  display: flex;
}

header>.container>.row {
  justify-content: space-between;
} */
/* 手機裝置 */
@media (max-width: 767px) {
  header {
    z-index: 1;
    position: relative;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: relative;
  }

  .nav-menu {
    position: fixed;
    left: -120%;
    top: 85px;
    gap: 0;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    position: absolute;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* ////////////bread A-1 /////////// */
.bread-crumb {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
}

.bread-crumb h5 {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.bread-crumb a {
  color: #4a855e;
}

/* ////////////news  0-1 ///////// */
.news {
  background-color: #231815;
  width: auto;
  height: auto;
}

.news h2 {
  display: block;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: normal;
}

/* ////// slide /////*/
.parent {
  /* 可視範圍寬 */
  /* width: 500px; */
  width: 100%;
  /* max-width: 1140px; */
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.child {
  /* 圖片寬度*項目個數 */
  /* width: 2000px; */
  /* 去除行內空白，文字大小0 */
  font-size: 0;
}

h1 {
  font-size: 40px;
}

.parent img {
  /* 同.parent寬 */
  width: 500px;
}

/* div時用float */
/* .son{
    float: left;
} */
.left-arrow,
.right-arrow {
  position: absolute;
  cursor: pointer;
  background-color: rgba(98, 85, 85, 0.482);
  width: 40px;
  height: 40px;
  top: 0px;
  border: 2px solid white;
  /* 設定較小塊的感應區 */
  /* height: 40px; */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
  bottom: 40px;
}

.right-arrow {
  right: 10px;
  bottom: 10px;
}

.indicator {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator > li {
  width: 10px;
  height: 10px;
  background-color: #F0F0F0;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.indicator > li:last-child {
  margin-right: 0;
}

.indicator > li.active {
  background-color: #4a855e;
}

@media (max-width: 767px) {
  .container {
    margin: auto;
    width: 90%;
    max-width: 1140px;
  }

  .left-arrow,
.right-arrow {
    width: 20px;
    height: 20px;
  }

  .news {
    padding-bottom: 10px;
  }

  .indicator > li {
    width: 5px;
    height: 5px;
    background-color: #F0F0F0;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .news {
    padding-bottom: 30px;
  }
}
/* ////// simple-menu  0-2 /////*/
.simple-menu {
  background-color: #F0F0F0;
  height: 600px;
  display: flex;
  width: auto;
}

.simple-menu h2 {
  display: block;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: normal;
}

.simple-menu a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #4a855e;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
}

.simple-menu a:hover {
  background-color: #b93a21;
  transition: background-color 0.3s 0s;
}

.simple-menu a:active {
  background-color: black;
}

.simple-menu h3 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.simple-menu img:hover {
  transform: scale(1.3);
  transition: transform 0.8s 0s;
}

.btn-container-extra {
  margin-top: 20px;
  /* // width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .simple-menu {
    background-color: #F0F0F0;
    /* background-image: url(public/images/gray-01.png); */
    width: auto;
    height: auto;
  }

  .simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .simple-menu .btn-container-extra {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
/* ////////////footer B /////// */
footer {
  height: auto;
  width: auto;
}

.footer-info {
  padding-left: 100px;
}

footer a {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer > .container > .row {
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
}

.social > a {
  padding-right: 20px;
}

.social > a:last-child {
  padding-right: 0;
}

.container-extra {
  margin: auto;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  display: block;
  margin: 20px;
  text-align: center;
  letter-spacing: 0em;
  font-weight: lighter;
  color: lightgray;
}

.container-f {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

footer > .container > .row > .row {
  justify-content: center;
}

@media (max-width: 767px) {
  footer .text-center {
    text-align: center;
  }
}
.common-intro {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.max-w350 {
  max-width: 350px;
}

@media (max-width: 768px) {
  .common-intro {
    height: auto;
  }

  .common-intro p {
    line-height: 2;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .common-intro {
    height: 500px;
  }

  .common-intro p {
    line-height: 2;
  }
}
.common-news {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.common-news > .container > .row {
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.common-news h1 {
  font-weight: normal;
  text-shadow: 2px 2px 3px #cbc8c8;
  line-height: 1.5em;
}

.common-news > .container > .row img:hover {
  transform: scale(1.3);
  transition: transform 0.8s 0s;
}

.common-news .modal-wrapper > .img-ad > img:hover {
  transform: none;
  transition: none;
}

.common-news a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: left;
  padding-top: 10px;
}

.common-news a:hover {
  text-decoration: none;
  color: #b93a21;
}

.common-news a:active {
  color: #4a855e;
}

.common-news h5 {
  color: #6d6b6b;
  font-weight: normal;
}

.common-news .row {
  box-sizing: border-box;
  border-bottom: 2px dotted #4a855e;
}

@media (max-width: 767px) {
  .common-news .row:last-child {
    box-sizing: border-box;
    border-bottom: 0;
  }

  .common-news {
    height: auto;
  }

  .common-news h1 {
    line-height: 1.5em;
    font-size: 20px;
  }

  .common-news a {
    display: block;
    font-size: 1em;
    padding-top: 0;
  }

  .text-left {
    text-align: left;
  }

  .common-news .row {
    padding-bottom: 50px;
  }

  .common-news > .container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .common-news > .container > .row {
    margin-top: 0;
    margin-bottom: 0;
  }

  .common-news > .container > .row {
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .common-news > .container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .common-news > .container > .row {
    margin-bottom: 50px;
  }

  .common-news h5 {
    padding-left: 5px;
  }
}
/* ////////////.common-lte 4 ///////////// */
.common-lte {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.common-lte > .container > .row {
  align-items: center;
}

.max-w500 {
  max-width: 500px;
}

.common-lte h1 {
  display: block;
  line-height: 1.5em;
  font-size: 20px;
  margin-bottom: 20px;
}

.pro-text > p {
  margin-bottom: 25px;
}

.pro-text > ul > li {
  margin-bottom: 25px;
}

.pro-text > ul {
  margin-left: 4.8em;
}

.common-lte .row {
  box-sizing: border-box;
  border-bottom: 2px dotted #4a855e;
}

@media (min-width: 768px) {
  .common-lte > .container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .common-lte > .container > .row {
    margin-bottom: 50px;
  }

  .common-lte .row {
    padding-bottom: 50px;
  }

  .img-sma {
    display: none;
  }
}
@media (max-width: 767px) {
  .pro-text {
    font-size: 12px;
  }

  .common-lte h1 {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .pro-text > p {
    margin-bottom: 10px;
    line-height: 1.3;
  }

  .pro-text > ul > li {
    margin-bottom: 10px;
    line-height: 1.3;
  }

  .pro-text > ul {
    margin-left: 5em;
  }

  .img-big {
    display: none;
  }

  .img-sma {
    transform: translateY(-2%);
  }

  .common-lte img {
    margin-bottom: 8px;
  }

  .common-lte .row:last-child {
    border-bottom: 0;
  }
}
/* ////////////faq 5 ///////// */
.common-faq {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
  box-sizing: border-box;
}

.question-content {
  border: 1px solid gray;
  border-radius: 30px;
  margin-bottom: 25px;
  line-height: 30px;
  padding: 20px 50px 20px 30px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
  letter-spacing: 2px;
}

.question-content.active {
  display: block;
  background-color: #b93a21;
  color: white;
}

.question-content.active .answer {
  display: block;
  padding-top: 10px;
}

.question-content.active .icon-arrow {
  transform: rotate(180deg);
}

.answer {
  display: none;
}

.question {
  position: relative;
  text-shadow: 2px 2px 3px #cbc8c8;
}

.question > .icon-arrow {
  text-shadow: none;
}

.icon-arrow {
  transition: transform 0.3s;
  position: absolute;
  width: 30px;
  line-height: 40px;
  text-align: center;
  /* background-color: pink; */
  right: -35px;
  top: -5px;
}

@media (min-width: 768px) {
  .common-faq > .container {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .common-faq {
    height: auto;
  }

  .common-faq > .container {
    margin-top: 20px;
  }
}
/* ////////////MENU 3 ///////// */
.common-menu {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.common-menu aside > ul {
  text-align: center;
}

.common-menu ul > li {
  display: block;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  background-color: #b93a21;
  font-size: 1.2em;
  border-radius: 30px;
}

.common-menu ul > li:hover {
  background-color: #4a855e;
}

.common-menu ul > li:active {
  background-color: black;
}

.common-menu ul > li > a {
  color: white;
  letter-spacing: 3px;
}

.common-menu > .container > .row {
  margin-top: 30px;
}

.common-menu main img {
  margin-bottom: 10px;
}

.common-menu h3 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1em;
  line-height: 20px;
}

.common-menu img:hover {
  transform: scale(1.3);
  transition: transform 0.8s 0s;
}

/* ////////////迴圈///////////// */
.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-ex-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

.col-ex-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 5px 15px -5px 15px;
}

@media (max-width: 767px) {
  .col-sm-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-smMu-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .col-smMu-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 30px 15px;
  }

  .mb-1 {
    margin-bottom: 10px;
  }

  .mb-2 {
    margin-bottom: 20px;
  }

  .mb-3 {
    margin-bottom: 30px;
  }

  .mb-4 {
    margin-bottom: 40px;
  }

  .mb-5 {
    margin-bottom: 50px;
  }

  .mt-1 {
    margin-top: 10px;
  }

  .mt-2 {
    margin-top: 20px;
  }

  .mt-3 {
    margin-top: 30px;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .mt-5 {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-me-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-me-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
.common-cot {
  background-color: #f0f0f0;
  width: auto;
}

.common-cot > .container > .greet {
  padding-top: 40px;
}

.greet > p {
  text-align: center;
  padding-bottom: 20px;
}

.oneline {
  display: block;
  width: 80%;
  height: 2px;
  margin: 35px auto;
  background-color: #4a855e;
}

section.form {
  padding-top: 25px;
  padding-bottom: 80px;
}

.form-container {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.input-width {
  width: 100%;
  border: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .input-width {
    width: 90%;
  }
}
label {
  margin-bottom: 10px;
  display: block;
}

.btn-primary {
  width: 30%;
  margin-left: 35%;
  cursor: pointer;
  color: white;
  background-color: #4a855e;
}

.btn-primary:hover {
  background-color: #b93a21;
}

.btn-primary:active {
  background-color: black;
}

.gender {
  margin-bottom: 15px;
}

.branch {
  width: 30%;
  border: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.img-overlay {
  overflow: hidden;
}

.common-lte a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
}

.common-faq a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
}

.common-menu > .container > .btn-container-extra a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 30px;
}

.common-news > .container > .btn-container-extra a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: black;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .common-news > .container > .btn-container-extra a {
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .common-faq .btn-container-extra {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .common-lte > .container > .btn-container-extra a {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .common-news > .container > .btn-container-extra a {
    margin-bottom: 20px;
  }
}
.page-top {
  position: fixed;
  bottom: 10px;
  background-color: #4a855e;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: white;
  right: -60px;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.page-top.active {
  right: 10px;
  transform: rotate(360deg);
}

.modal-wrapper {
  position: absolute;
  display: none;
}

.modal-wrapper.active {
  display: block;
}

.modal-content {
  position: fixed;
  width: 80%;
  max-width: 600px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.btn-close {
  position: absolute;
  width: 40px;
  right: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 2em;
}

#open-modal {
  right: 0;
  top: 0;
}

.modal-wrapper > .modal-content .img-fluid {
  margin-top: 40px;
}

.modal-wrapper > .modal-content p {
  padding-bottom: 15px;
  line-height: 1.5rem;
}

.modal-wrapper h1 {
  font-weight: normal;
  text-shadow: 2px 2px 3px #cbc8c8;
  line-height: 1.5em;
}

.icon-new {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: white;
  border-radius: 100%;
  left: -25px;
  top: -15px;
  font-size: 1rem;
  background-color: #4a855e;
}

section {
  position: relative;
}

.ff {
  background-color: #b93a21;
  position: fixed;
  right: 10px;
  bottom: 30%;
  /* width: 100%; */
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.ff > a {
  color: white;
  text-decoration: none;
  line-height: 10px;
}

@media (max-width: 767px) {
  .ff {
    display: none;
  }
}