@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Iansui094-Regular;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  width: auto;
  /* color: rgb(64, 61, 61); */
}

body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.row {
  /* // margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.flex-space-between {
  justify-content: space-between;
}

/* // 圖形 */
.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

/* // 文字 */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* header start */
@keyframes t3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.t3 {
  animation: t3 7s infinite alternate;
}

.tittle-logo {
  width: auto;
}

header {
  background-color: white;
  display: block;
  height: auto;
  max-width: auto;
}

header > .container nav > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 5px 0em;
  position: relative;
  transform: translateY(0px);
  transition: 0.3s;
}

header > .container nav > ul > li > a::after {
  content: " ";
  position: absolute;
  left: 50%;
  right: 50%;
  height: 0;
  bottom: -5px;
  border-bottom: 1px solid #b93a21;
  transition: 0.3s;
}

header > .container nav > ul > li > a:hover::after {
  left: 0;
  right: 0;
}

.navbar {
  /* height: 70px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > a {
  padding-left: 0px;
}

* .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar > .hamburger {
  padding-right: 20px;
}

/* .nav-branding{
  font-size: 2em;
} */
/* .nav-link{
 transition: 0.7s ease;
}

.nav-link:hover{
color: darkgreen;
} */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
  border-radius: 100px;
}

/* header>.container>nav li {
  display: flex;
}

header>.container>.row {
  justify-content: space-between;
} */
/* 手機裝置 */
@media (max-width: 767px) {
  header {
    z-index: 1;
    position: relative;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    position: relative;
  }

  .nav-menu {
    position: fixed;
    left: -120%;
    top: 85px;
    gap: 0;
    flex-direction: column;
    background-color: #f0f0f0;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    position: absolute;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
/* ////////////bread///////////// */
.bread-crumb {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
}

.bread-crumb h5 {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.bread-crumb a {
  color: #4a855e;
}

/* ////////////news///////////// */
.news {
  background-color: black;
  width: auto;
  height: 500px;
}

div.news h2 {
  display: block;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* ////////////simple-menu/////////////*/
.simple-menu {
  background-color: #F0F0F0;
  height: 600px;
  display: flex;
  width: auto;
}

.simple-menu h2 {
  display: block;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.simple-menu a {
  display: block;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #4a855e;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: normal;
}

.simple-menu a:hover {
  background-color: black;
  transition: background-color 0.3s 0s;
}

.simple-menu h3 {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}

.btn-container-extra {
  margin-top: 20px;
  /* // width: 90%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .simple-menu {
    background-color: #F0F0F0;
    /* background-image: url(public/images/gray-01.png); */
    width: auto;
    height: auto;
  }

  .simple-menu h3 {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: normal;
  }

  .btn-container-extra {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
/* ////////////footer///////////// */
footer {
  height: auto;
  width: auto;
}

.footer-info {
  padding-left: 100px;
}

footer a {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-extra {
  margin: auto;
  width: 90%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  display: block;
  margin: 20px;
  text-align: center;
  letter-spacing: 0em;
  font-weight: lighter;
  color: lightgray;
}

.container-f {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.info-row {
  /* // margin: auto; */
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

@media (max-width: 767px) {
  footer .text-center {
    text-align: center;
  }
}
.common-intro {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.max-w350 {
  max-width: 350px;
}

@media (max-width: 768px) {
  .common-intro {
    height: auto;
  }

  .common-intro p {
    line-height: 2;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .common-intro {
    height: 500px;
  }

  .common-intro p {
    line-height: 2;
  }
}
.common-news {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.common-news > .container > .row {
  align-items: center;
}

.common-news h1 {
  font-weight: normal;
  text-shadow: 2px 2px 3px #cbc8c8;
  line-height: 1.5em;
}

.common-news > .container > .row {
  margin-bottom: 20px;
}

.common-news > .container > .row:last-child {
  margin-bottom: 0;
}

.common-news a {
  display: block;
  text-decoration: none;
  color: #b93a21;
  text-align: left;
  padding-top: 10px;
}

.common-news a:hover {
  text-decoration: none;
  color: #4a855e;
}

.common-news a:active {
  color: black;
}

.common-news h5 {
  color: #6d6b6b;
}

@media (max-width: 768px) {
  .common-news .row {
    box-sizing: border-box;
    border-bottom: 2px dotted #4a855e;
  }

  .common-news .row:last-child {
    box-sizing: border-box;
    border-bottom: 0;
  }

  .common-news {
    height: auto;
  }

  .common-news h1 {
    line-height: 1.5em;
    font-size: 20px;
  }

  .common-news a {
    display: block;
    font-size: 1em;
  }

  .text-left {
    text-align: left;
  }

  .common-news a {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .common-news {
    height: 900px;
  }
}
/* ////////////.common-lte///////////// */
.common-lte {
  background-color: #f0f0f0;
  width: auto;
  display: flex;
}

.common-lte > .container > .row {
  align-items: center;
}

.max-w500 {
  max-width: 500px;
}

@media (min-width: 768px) {
  .common-intro {
    height: 2000px;
  }

  .common-lte > .container {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .common-lte > .container > .row {
    margin-bottom: 50px;
  }

  .common-lte > .container > .row:last-child {
    margin-bottom: 20px;
  }

  .common-lte .row {
    padding-bottom: 50px;
    box-sizing: border-box;
    border-bottom: 2px dotted #4a855e;
  }
}
/* ////////////迴圈///////////// */
.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-ex-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

.col-ex-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 20px 15px 20px 15px;
}

@media (max-width: 767px) {
  .col-sm-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-sm-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .mb-1 {
    margin-bottom: 10px;
  }

  .mb-2 {
    margin-bottom: 20px;
  }

  .mb-3 {
    margin-bottom: 30px;
  }

  .mb-4 {
    margin-bottom: 40px;
  }

  .mb-5 {
    margin-bottom: 50px;
  }

  .mt-1 {
    margin-top: 10px;
  }

  .mt-2 {
    margin-top: 20px;
  }

  .mt-3 {
    margin-top: 30px;
  }

  .mt-4 {
    margin-top: 40px;
  }

  .mt-5 {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}